# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Bb]in/
[Oo]bj/

# NuGet Packages
*.nupkg
*.snupkg
packages/

# Rider
.idea/

# Visual Studio Code
.vscode/

# User-specific files
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pdb
*.mdb
*.opendb
*.tlog
*.log
